<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- NuGet package System.Reflection.Metadata 1.6.0 contains assembly version 1.4.3.0.
           Redirect any older assembly version requests to 1.4.3.0 (the actual DLL assembly version). -->
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata"
                          publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0"
                         newVersion="1.4.3.0" />
      </dependentAssembly>
      <!-- NuGet package System.Collections.Immutable 1.5.0 contains assembly version 1.2.3.0.
           Redirect any older assembly version requests to 1.2.3.0 (the actual DLL assembly version). -->
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable"
                          publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0"
                         newVersion="1.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
